*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #3A3A3A;
    background-color: #fff;
}
::selection{
    background-color: #E02C6D;
    color: #fff;
}
.container{
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #E02C6D;
}
a,input,button{
    transition: .5s;
    -ms-transition: .5s;
    -webkti-transition: .5s;
    text-decoration: none;
}
h1{
    font-size: 52px;
    margin-bottom: 20px;
}
h2{
    font-size: 38px;
    margin-bottom: 20px;
}
h3{
    font-size: 30px;
    margin-bottom: 20px;
}
h4,.in-h4{
    font-size: 28px;
    margin-bottom: 20px;
}
h5,.in-h5{
    font-size: 24px;
    margin-bottom: 20px;
}
h6{
    font-size: 20px;
    margin-bottom: 20px;
}
p{
    margin-bottom: 15px;
    line-height: 1.4;
    letter-spacing: .1px;
}
.in-text-btn{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    width: 100px;
    line-height: 24px;
    color: rgba(224, 44, 109, 0.87);
    margin-left: auto;
}
.in-btn:hover {
    background: #3A3A3A;
}
.in-text-btn i{
    margin-top: 2px;
    display: inline-block;
    padding-left: 10px;
    transition: .5s;
}
.in-btn {
    display: flex;
    width: 196px;
    padding: 17px 34px 15px 24px;
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    justify-content: space-between;
    border-radius: 41px;
}
.in-btn i{
    margin-top: 2px;
    display: inline-block;
    transition: .5s;
}
.in-btn:hover i,.in-text-btn:hover i{
    transform: translateX(7px);
    -ms-transform: translateX(7px);
    -webkit-transform: translateX(7px);
}
.hdr-cntlr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hdr-lgo a{
    display: inline-block;
}

.main-menu ul{
    display: flex;
}
.main-menu ul li{
    padding: 0 18px;
}
.main-menu ul li a{
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 10px;
    color: #3A3A3A;
}
.main-menu ul li a:hover{
    color: #E02C6D;
}
header{
    padding-top: 77px;
    padding-bottom: 40px;
}
.mobile-menu-cntlr .hdr-lgo{
    display: none;
}
.hdr-rgt,
.hdr-srch-cart{
    display: flex;
    align-items: center;
}
.hdr-srch-cart a{
    margin: 0 18px;
}
.hdr-srch-cart a:last-child{
    margin-right: 0;
}
.hdr-srch-cart  a i{
    display: inline-block;
}
/* .hdr-srch-cart  a:hover .scrch-black{
    opacity: 0;
} */
.search-icn svg,
.cart-icn svg{
    transition: .5s;
}
.cart-icn:hover i svg{
    fill: #E02C6D;
}
.search-icn:hover svg{
    fill: #E02C6D;
}
.mobile-menu{
    display: none;
}

.banner-cntlr{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.banner-lft{
    width: 60%;
    padding-right: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-rgt{
    width: 40%;
}
.banner-title{
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -1px;
}
.banner-lft p{
    font-weight: 600;
    margin-bottom: 30px;

}
.banner-sec{
    padding-bottom: 70px;
}


.trusted-sec{
    padding-bottom: 50px;
    overflow: hidden;
}
.trusted-sec-cntlr ul{
    margin: 0 -30px;
    padding: 35px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;

}
.trusted-sec-cntlr ul li{
    padding: 0 30px;
}
.trusted-sec-cntlr ul li a{
    display: inline-block;
}
.trusted-sec-cntlr ul li a:hover{
    transform: scale(1.1);
}

.popular-sec{
    padding: 50px 0;
}
.popular-sec-cntlr{
    padding: 0 75px;
}
.sec-title{
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
}
.popular-grids{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 50px;
}
.popular-grd-item-col{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.popular-grd-item{
    padding: 17px 15px 17px;
}
.popular-img-cntlr{
    margin-bottom: 20px;
}
.popular-img-cntlr .inline-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: none;
    border-radius: 5px;
}
.popular-img-cntlr img{
    height: 100%;
    border-radius: 5px;
    width: 100%;
}
.pgid-title{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;
    color: #18191F;
}
.price{
    font-size: 24px;
    color: #000;
    display: inline-block;
    margin-bottom: 8px;
}
.rating .full-star,.half-str{
   display: inline-block
}
.rating div{
    display: flex;
    align-items: center;
}
.half-str {
    margin-top: 2px;
}
.rating{
    padding-bottom: 7px;
}
.rating span{
    display: inline-block;
    letter-spacing: 0.1px;
    color: #5E6366;
    font-size: 14px;
    font-weight: 700;
    margin-left: 7px;
    margin-top: -5px;
}
.popular-grd-item-detais strong{
    font-weight: 700;
    font-size: 14px;
    color: #787885;
    line-height: 1.3;
}


.featured-sec{
    padding-top: 50px;
    padding-bottom: 100px;
}
.featured-sec-cntlr{
    padding: 0 45px;
    display: flex;
    align-items: center;
}
.fea-lft-img{
    width: 40%;
}
.fea-rgt-details{
    width: 60%;
    padding-left: 96px;
}
.fea-title{
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.3;
}
.fea-rgt-details .in-btn{
    border-radius: initial;
    width: 155px;
    padding: 15px 24px 12px 24px;
}   
.fea-rgt-details .in-btn i{
    margin-left: 10px;
}
.fea-rgt-details p{
    font-weight: 700;
    margin-bottom: 20px;
}


footer{
    background-color: #0A0826;
}
.ftr-cntlr{
    color: #fff;
    padding: 50px 0;
    text-align: center;
}
.ftr-title{
    color: #fff;
    margin-bottom: 10px;
}
.ftr-cntlr p{
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}
.ftr-cntlr p:first-of-type{
    margin-bottom: 7px;
}
.ftr-cntlr ul{
    display: flex;
    justify-self: center;
    justify-content: center;
}
.ftr-cntlr ul li{
    padding: 0 8px;
}
.ftr-cntlr ul li a{
    color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #282b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ftr-cntlr ul li a i{
    color: #fff;
}
.ftr-cntlr ul li a:hover{
    background-color: #E02C6D;
}





/* start-responsive */
@media screen and (max-width: 1199px) {
    header{
        padding-top: 60px;
    }
    .main-menu ul li {
        padding: 0 16px;
    }
    .hdr-srch-cart a {
        margin: 0 16px;
    }
    h1{
        font-size: 50px;
    }
    .banner-lft{
        padding-right: 120px;
    }
    .trusted-sec{
        padding-bottom: 30px;
    }
    .popular-sec {
        padding: 40px 0;
    }
    .popular-sec-cntlr {
        padding: 0 0;
    }
    .popular-grids{
        gap: 25px;
    }
    .featured-sec{
        padding-top: 30px;
    }
    .fea-lft-img {
        width: 45%;
    }
    .fea-rgt-details {
        width: 55%;
        padding-left: 60px;
    }
    .featured-sec-cntlr{
        padding: 0 25px;
    }
    .ftr-cntlr{
        padding: 45px 0;
    }
    h2{
        font-size: 32px;
    }
    h4, .in-h4 {
        font-size: 26px;
    }
    .featured-sec{
        padding-bottom: 80px;
    }
}   

@media screen and (max-width: 991px) {
    header {
        padding-top: 55px;
    }
    .main-menu ul li {
        padding: 0 12px;
    }
    .hdr-srch-cart a {
        margin: 0 12px;
    }
    .cart-icn svg{
        width: 30px;
    }
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 28px;
    }
    h4, .in-h4 {
        font-size: 22px;
    }
    .fea-rgt-details .in-btn {
        border-radius: initial;
        width: 150px;
        padding: 12px 20px 11px 22px;
    }
    .banner-lft {
        padding-right: 55px;
    }
    .in-btn{
        padding: 15px 20px 14px 20px;
        width: 185px;
    }
    .trusted-sec-cntlr ul li {
        padding: 0 18px;
    }
    .popular-grids {
        gap: 25px;
        grid-template-columns: repeat(2,350px);
        justify-content: center;
    }
    .featured-sec-cntlr {
        padding: 0;
    }
    .fea-rgt-details {
        padding-left: 45px;
    }
    .price{
        font-size: 20px;
    }
    .fea-rgt-details .in-btn {
        width: 155px;
        padding: 12px 20px 11px 22px;
    }
    .featured-sec{
        padding-bottom: 70px;
    }
}
@media screen and (max-width: 767px) {
    .hdr-lgo{
        display: none;
    }
    .hdr-menu-cntlr 
    .cart-icn svg {
        width: 36px;
    }
    .cart-icn svg {
        margin-top: -6px;
    }
    .hdr-srch-cart .search-icn{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .hdr-cntlr{
        flex-direction: column;
    }
    .hdr-rgt{
        width: 100%;
        justify-content: space-between;
        position: relative;
    }
    header {
        padding-top: 35px;
        padding-bottom: 22px;
    }
    .hdr-menu-cntlr {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .hdr-menu-cntlr .hdr-lgo{
        display: block;
        width: 100%;
        text-align: center;
        margin-left: -24px;
    }
    .hdr-menu-cntlr .hdr-lgo img{
        max-width: 185px;
        width: 100%;
    }
    nav.main-menu {
        position: absolute;
        /* opacity: 0; */
        left: 0;
        right: 0;
        top: 60px;
    }
    .main-menu ul {
        display: block;
        width: 100%;
        padding-bottom: 30px;
        padding-top: 30px;
        background: #e02c6d;
    }
    .main-menu ul li {
        padding: 15px 50px;
        display: block;
    }
    .main-menu ul li a {
        font-size: 30px;
        color: #fff;
    }
    h1 {
        font-size: 35px;
    }
    .mobile-menu img{
        width: 24px;
        height: auto;
    }
    .hdr-srch-cart{
        position: absolute;
        top: 0;
        right: 0;
    }
    .container{
        padding: 0 15px;
    }
    .banner-cntlr{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-lft{
        width: 100%;
        align-items: center;
        padding-right: 0;
        max-width: 685px;
        margin: auto;
    }
    .banner-rgt {
        width: 100%;
        max-width: 360px;
        margin: auto;
        padding-right: 0;
        padding-bottom: 20px;
    }
    .banner-title{
        margin-bottom: 12px;
    }
    .banner-lft p {
        margin-bottom: 25px;
    }
    .trusted-sec-cntlr ul{
        flex-wrap: wrap;
        padding: 35px 12px 20px;
    }
    .trusted-sec-cntlr ul li {
        padding: 0 18px 20px;
    }
    .popular-grids {
        gap: 15px;
        grid-template-columns: repeat(1,400px);
        margin-bottom: 30px;
    }
    .featured-sec{
        padding-top: 0;
    }
    .featured-sec-cntlr{
        flex-direction: column-reverse;
        max-width: 500px;
        margin: auto;
        text-align: center;
    }
    .fea-lft-img{
        width: 100%;
    }
    .fea-rgt-details{
        width: 100%;
        padding-left: 0;
        padding-bottom: 30px;
    }
    .fea-rgt-details .in-btn{
        justify-content: center;
        margin: auto;
    }
    .popular-sec {
        padding: 30px 0;
    }
    .featured-sec{
        padding-bottom: 50px;
    }
    .pgid-title,.price{
        font-weight: 700;
    }
    h2 {
        font-size: 24px;
    }
    h4, .in-h4 ,.price{
        font-size: 28px;
    }
    h5, .in-h5{
        font-size: 22px;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 28px;
    }
    h5, .in-h5{
        font-size: 18px;
    }
    .popular-grids {
        grid-template-columns: repeat(1,290px);
    }
    .ftr-cntlr p{
        font-size: 12px;
    }
}